body {
    background: rgb(31, 31, 31);
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    cursor: crosshair;
}

.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 255, 0, 0.897);
    opacity: 0;
    animation: anim 10s forwards;
    /* roue chromatique  */
    filter: hue-rotate(0deg);
}

@keyframes anim {
    to {
        top: -250px;
        left: var(--left) ;
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}

h3 {
    font-size: 10rem;
    text-align: center;
    margin-top: 50px;
    color: rgba(245, 245, 245, 0.705);
    user-select: none;
}