@font-face {
    font-family: 'Allura';
    src: url(../../fonts/Allura-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

$black1: rgb(26, 26, 26);
$white1: rgb(243, 243, 243);
$grey1: rgb(187, 187, 187);
$gold1: rgb(169, 114, 69);
$gold2: rgb(184, 124, 75);
$red1: rgb(128, 0, 0);

$font1: 'Allura';
$font2: 'Poppins';
$font3: 'Roboto';

@mixin tittle {
    text-align: center;
    font-family: $font1;
    color: $gold1;
    font-weight: 300;
    text-transform: capitalize;

    div {
        font-family: $font2;
        color: $white1;
        text-transform: uppercase;
        font-weight: 800;
    }
}

li {
    list-style: none;
}

input {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: $font3;
    background: $black1;
    outline: none;

    span img{
        user-select: none;
    }

    h1::selection,
    h2::selection,
    h3::selection,
    h4::selection,
    h5::selection,
    p::selection,
    br::selection {
        background: $gold1;
        color: $white1;
    }


}