.section2 {
    
    .top-part{
        max-height: 450px;
        text-align: center;
        user-select: none;

        h5 {
            @include tittle;
            font-size: 2.5rem;
            padding-top: 60px;
        }

        span img{
            margin: 40px 0 0;
        }

        nav {
            
            ul {
                display: flex;
                justify-content: space-around;
                min-width: 200px;
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                color: $white1;
                font-weight: 200;
                text-transform: capitalize;

                
                
                li {
                    margin: 30px 0;
                    padding: 10px 0;
                    box-shadow: 0 1px 0 0 $grey1 ;
                    cursor: pointer;
                    transition: 0.2s;

                    @media screen and (max-width: 330px) {
                        font-size: 0.7rem
                        
                    }
                    
                    &:hover {
                        color: $gold1;
                        box-shadow: 0 1px 0 0 $red1 ;
                    }
                }
                
            }
        }
    }

    .bottom-part {
        background: url(../../../img/bg-menu-01.jpg) center/cover no-repeat;
        position: relative;
        min-height: 750px;
        margin-top: 120px;

        .card {
            min-width: 600px;
            width: 100%;
            max-width: 900px;
            padding: 20px 0;
            background: $white1;
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: center;
            margin: 0 auto;
            transform: translateY(-100px);
            box-shadow: inset 0px 5px 0 $gold2;
            

            @media screen and (max-width: 980px) {
                width: 90%;
                
            }

            @media screen and (max-width: 630px) {
                min-width: 300px;
                max-width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }

            .left-part, 
            .right-part {
                width: 85%;
                
                li {
                    padding: 40px 20px 40px 0;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px dashed $black1;
                    img {
                        border-radius: 150px;
                        user-select: none;
                    }
                    .li-container {
                        display: flex;  
                        flex-direction: column;
                        width: 60%;
                        margin: 0 10px 0 10px;
                        font-family: $font3;
                        
                        h5 {
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 0.9rem;
                            
                            @media screen and (max-width: 914px) {
                                font-size: 0.7rem;
                                
                            }
                        }
                        
                        p {
                            width: 92%;
                            padding-top: 5px;
                            font-weight: 300;
                            line-height: 20px;
                            
                            @media screen and (max-width: 914px) {
                                font-size: 0.8rem;
                                
                            }
                        }
                    }
                    
                    span {
                        color: $gold1;

                        &::selection {
                            background: $gold1;
                            color: $white1;
                        }
                    }
                    
                }
            }
            }
        }

}